# Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [1]:
test1 = 'This is a test of the emergency text system' 
len(test1)

43

In [26]:
f = open("test.txt", "w")
f.write('This is a test of the emergency text system' )
f.close()

In [27]:
f = open("test.txt", "r")
print(f.read())
f.close()

This is a test of the emergency text system

# . Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [28]:
with open('test.txt', 'rt') as infile: 
    test2 = infile.read()
len(test2)

43

# Create a CSV file called books.csv by using these lines:
title,author,year The Weirdstone of Brisingamen,Alan Garner,1960 Perdido Street Station,China Mi√©ville,2000 Thud!,Terry Pratchett,2005 The Spellman Files,Lisa Lutz,2007 Small Gods,Terry Pratchett,1992

In [29]:
text = '''author,book
 J R R Tolkien,The Hobbit 
Lynne Truss,"Eats, Shoots & Leaves" 
 ''' 
with open('test.csv', 'wt') as outfile: 
    outfile.write(text)

# Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [31]:
import sqlite3 
db = sqlite3.connect('books.db')
curs = db.cursor()
curs.execute('''create table book (title text, author text, year int)''') 
db.commit()

OperationalError: table book already exists

# Read books.csv and insert its data into the book table.

In [38]:
f = open("books.csv", "w")
f.write('(book['title':a], book['author':s], book['year':21])' )
f.close()

SyntaxError: invalid syntax (<ipython-input-38-4c55c2c42a09>, line 2)

In [36]:
f = open("books.csv", "r")
print(f.read())
f.close()

FileNotFoundError: [Errno 2] No such file or directory: 'books.csv'

In [37]:
import csv 
import sqlite3
ins_str = 'insert into book values(?, ?, ?)' 
with open('books.csv', 'rt') as infile:
    books = csv.DictReader(infile)
    for book in books:
        curs.execute(ins_str, (book['title'], book['author'], book['year']))
db.commit()

FileNotFoundError: [Errno 2] No such file or directory: 'books.csv'

# Select and print the title column from the book table in alphabetical order.

In [32]:
sql = 'select title from book order by title asc'
for row in db.execute(sql):
    print(row)

for row in db.execute(sql): 
    print(row[0])

# From the book table, select and print all columns in the order of publication.

In [33]:
for row in db.execute('select * from book order by year'): 
    print(row)

# . Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [34]:
import sqlalchemy 
conn = sqlalchemy.create_engine('sqlite:///books.db')
sql = 'select title from book order by title asc' 
rows = conn.execute(sql) 
for row in rows: 
    print(row)

# Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [20]:
import redis 
conn = redis.Redis() 
conn.delete('test')

ModuleNotFoundError: No module named 'redis'

In [21]:
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})

AttributeError: 'Engine' object has no attribute 'hmset'

In [22]:
conn.hgetall('test')

AttributeError: 'Engine' object has no attribute 'hgetall'

# Increment the count field of test and print it.

In [23]:
conn.hincrby('test', 'count', 3)

AttributeError: 'Engine' object has no attribute 'hincrby'

In [24]:
conn.hget('test', 'count')

AttributeError: 'Engine' object has no attribute 'hget'